:host {
  display: block;
  //.selected { // :host .selected
  &.selected { // :host.selected
    background-color: #6ce871;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
