<p>binding-samples works!</p>

<ul>
  <li *ngFor="let user of list">{{ user | json}}</li>
</ul>

<div class="red-font">das ist das bild das angezegt wird {{img}}</div>
<div [class]="classList">{{classList}}</div>

<div (click)="toggle()" [class.bold-font]="selected" [class.green-font]="true">green</div>

<div [style.color]="color"
     style="background-color: gray">{{getInfo(123, img)}}</div>

<div [attr.aria-label]="forScreenReader" [innerHTML]="html"></div>

<img alt="cat1" src="./assets/img/cat1.jpeg" width="20%">


<ul>
  <li>{{img}}</li>
  <li>{{imgPath}}</li>
  <li>{{imgWithPath}}</li>
</ul>
<img (click)="chgImg()" alt="{{img}}" src="{{imgPath}}/{{img}}" width="20%">
<img [src]="imgWithPath" alt="{{img}}" width="20%">
<img [attr.src]="imgWithPath" alt="{{img}}" width="20%">
