<h3 *ngIf="selectedUser">{{selectedUser.firstname}}</h3>

<gfk-user-list-item *ngFor="let user of users; even as e; odd as o"
                    [user]="user"
                    (selectUser)="selectedUsr( $event )"
                    [isSelected]="selectedUser === user"
                    [ngClass]="{even: e, odd: o}"
></gfk-user-list-item>
<button *ngIf="this.selectedUser"
        gfkDanger="Willst du den {{selectedUser.firstname}} wirklich löschen"
        (confirmed)="delSelected()">del selectedUsr</button>
