
<h3 *ngIf="selectedUsr">selected User: {{selectedUsr.firstname}} {{selectedUsr.lastname}}</h3>
<gfk-user-list-item
  *ngFor="let user of $user.userList$ | async; even as e; odd as o"
  [user]="user"
  [selected]="user?.id === selectedUsr?.id"
  (selectUsr)="selectUser($event)"
  [ngClass]="{even: e, odd: o}"
>
</gfk-user-list-item>

<ng-container *ngIf="selectedUsr; else addUserBlock">
  <input type="text" placeholder="firstname" #firstname [value]="selectedUsr.firstname">
  <input type="text" placeholder="lastname" #lastname [value]="selectedUsr.lastname">
  <button (click)="updateUser ( firstname.value, lastname.value )">update</button>
  <hr>
<button gfkDangerBtn="Willst du {{selectedUsr.firstname | uppercase}} wirklich löschen?"
        (confirmed)="deleteSelectedUsr()"
>delete selected</button>
  <button [routerLink]="[ selectedUsr.id ]">details</button>
</ng-container>

<ng-template #addUserBlock>
  <input type="text" placeholder="firstname" #firstname>
  <input type="text" placeholder="lastname" #lastname>
  <button (click)="addUser ( firstname.value, lastname.value )">add</button>
</ng-template>
