<h2>{{selectedUser | json}}</h2>
<gfk-user-list-item *ngFor="let user of users"
                    [user]="user"
                    (selectUser)="selectedUsr( $event )"
                    [isSelected]="selectedUser === user"
></gfk-user-list-item>
<button (click)="delSelected()">del selectedUsr</button>
<!--
                    [class.selected]="selectedUser === user"
-->

<!--
<gfk-user-list-item [username]="users[0]"></gfk-user-list-item>
<gfk-user-list-item [username]="users[1]"></gfk-user-list-item>
<gfk-user-list-item [username]="users[2]"></gfk-user-list-item>
-->
<!--
<gfk-user-list-item username="peter"></gfk-user-list-item>
<gfk-user-list-item username="frank"></gfk-user-list-item>
<gfk-user-list-item username="petra"></gfk-user-list-item>
-->
<!--
<gfk-user-list-item>Peter</gfk-user-list-item>
<gfk-user-list-item>Hans</gfk-user-list-item>
<gfk-user-list-item>Heike</gfk-user-list-item>
<gfk-user-list-item>Petra</gfk-user-list-item>
<gfk-user-list-item>Saban</gfk-user-list-item>
-->

