<h3>gfk</h3>
<gfk-error></gfk-error>

<nav>ich werde navigieren</nav>
<hr>
<router-outlet></router-outlet>
<hr>
<footer>ich bein ein footer</footer>


<!--
<gfk-user></gfk-user>
<gfk-rxjs-sample></gfk-rxjs-sample>
<gfk-pipe-samples></gfk-pipe-samples>
<button gfkDangerBtn (confirmed)="machWasSchlimmes()">hello</button>
<button>play</button>
-->

<!--
<gfk-directive-samples></gfk-directive-samples>
<h3 *ngIf="msg">{{msg}}</h3>
<gfk-countdown (finished)="ready()" duration="3000"></gfk-countdown>
<gfk-countdown (finished)="ready()" style="width: 100px"></gfk-countdown>
<gfk-countdown (finished)="ready()" duration="5000" style="width: 100%"></gfk-countdown>
-->

<!--
-->

<!--
<gfk-delete-me></gfk-delete-me>
-->
