<h1>{{title}}</h1>

<!--
<button (click)="changeName()">chg</button>
-->


<div *ngIf="$error.error$ | async as errMsg " class="error-box">{{errMsg}}</div>
<!--
<cis-countdown></cis-countdown>
<cis-countdown style="width: 100px"></cis-countdown>
<cis-countdown style="width: 50%"></cis-countdown>
<cis-user></cis-user>
-->

<!--
<cis-pipe-samples></cis-pipe-samples>
<cis-directive-samples></cis-directive-samples>
<cis-binding-samples></cis-binding-samples>
-->

<nav>
  <a routerLink="home" routerLinkActive="active">home</a>
  |
  <a routerLink="user" routerLinkActive="active">user</a>
</nav>

<router-outlet></router-outlet>

<footer>netTrek</footer>
