<div class="content" role="main">
  <span>{{ title }} app is running!</span>
</div>
<!--
<div>{{ $dummy.val }}</div>
<msg-binding-sample></msg-binding-sample>
<msg-countdown></msg-countdown>
<msg-countdown style="width: 50%"></msg-countdown>
<msg-countdown style="width: 100px"></msg-countdown>
<msg-directive-sample></msg-directive-sample>
<msg-pipe-sample></msg-pipe-sample>
<msg-rxjs-sample></msg-rxjs-sample>
<msg-countdown></msg-countdown>
-->
<msg-user></msg-user>
<router-outlet></router-outlet>
