<h3 *ngIf="selectedUser; else call4Selection">selected:= {{selectedUser?.firstName}} </h3>
<ng-template #call4Selection>
  <h3>bitte user auswählen</h3>
</ng-template>
<msg-user-list-item
  (selectedUsr)="setSelectedUser($event)"
  *ngFor="let user of this.userlist"
  [selected]="selectedUser === user"
  [user]="user"
>
</msg-user-list-item>
<input #first [value]="selectedUser?.firstName" placeholder="firstname" type="text">
<input #last [value]="selectedUser?.lastName" placeholder="lastname" type="text">
<div *ngIf="!selectedUser; else showNewPanel">
  <button
    (click)="addNewUserWith (first.value, last.value)">+
  </button>
</div>
<ng-template #showNewPanel>
  <div>
    <button (click)="updateSelectedUser (first.value, last.value)">~</button>
    <button (confirmed)="deleteSelected()" msgDangerBtn="willst du den {{selectedUser?.firstName}} wirklich löschen">-
    </button>
  </div>
</ng-template>
