:host { // die komponente selbst als container
  display: block;
  background-color: greenyellow;

  ::ng-deep h1 { // ignoriere das mit den attributen auf h1
    color: red;
  }
}

.selected{
  color: darkgray;
  font-weight: bold;
}

.red {
  color: red;
}

.bold {
  font-weight: bolder;
}

.blue {
  color: blue;
}

button {
  background-color: red;
}
